@font-face {
	font-family: 'Lato';
	src: url('../font/Lato/Lato-BoldItalic.ttf');
}
html,
body {
	height: 100%;
}
a {
	text-decoration-line: none;
}
#title {
	font-family: 'Lato';
}
#map-main {
	width: 100%;
}
#search-container {
	width: 30%;
	height: 100%;
}
#map-container {
	position: absolute;
	right: 0;
	top: 64px;
	width: 70%;
}
#google-map {
	height: 100vh;
}
#auto-complete {
	z-index: 5;
	position: absolute;
	top: 18%;
}
#auto-complete input {
	border: 2px solid #ebdd47;
	border-radius: 10px;
}

#result-list {
	border: 1px solid #ebdd47;
	height: 85vh;
	top: 13%;
	overflow-y: scroll;

	width: 30%;
	display: flex;
	flex-direction: column;
}
#result-list::-webkit-scrollbar-thumb {
	height: 30%;
	background: #fff70a;
}
#result-list::-webkit-scrollbar {
	width: 5px;
}
#result-list button {
	background-color: inherit;
}

#result-list-inner {
	border: 0;
}

.map_wrap,
.map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
	color: #000;
	text-decoration: none;
}
.map_wrap {
	position: relative;
	width: 100%;
	height: 500px;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}
#pagination a {
	display: inline-block;
	margin-right: 10px;
}
#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}
